<%= turbo_frame_tag "admin_dashboard" do %>
  <div class="ml-52 w-2/3">
    <%= render "admins/admin", admin: @admin %>
  </div>
<% end %>

<%= turbo_frame_tag "admin" do %>
  <div class="ml-16">
    <%= render "admins/admin", admin: @admin %>
  </div>
<% end %>