<div class="flex flex-col justify-center space-y-2">
  <%= link_to profile_student_path(student), data: {turbo_frame: "student"}, class: "px-10 py-2 text-gray-700 border-b border-gray-700 hover:bg-slate-300" do %>
    <%= student.full_name %>
  <% end %>
</div>