<% provide(:button_name, "Edit Student") %>

<%= turbo_frame_tag(dom_id(@student)) do %>
  <div class="flex flex-col justify-center items-center">
    <div class="text-2xl pt-8">Edit <%= @student.full_name %>'s profile</div>
    <%= render "students/form", student: @student %>
  </div>
<% end %>