<%= turbo_frame_tag 'modal' do %>
  <div class="min-h-screen w-screen bg-black bg-opacity-80 flex justify-center items-center fixed z-10">
    <div class="bg-white bg-opacity-100 px-10 py-4 rounded">
      <%= link_to root_path, class: "mx-2 text-xl text-gray-100 absolute top-10 right-10" do %>
        <i class="fa-solid fa-circle-xmark"></i>
      <% end %>
      <div class="my-4 text-2xl text-gray-700 flex justify-center items-center">New Student</div>
      
      <%= render partial: 'form', locals: { student: @student } %>
    </div>
  </div>
<% end %>
