<%= turbo_frame_tag "admin_dashboard" do %>
  <div class="ml-52 w-2/3">
    <%= render "students/student_details", student: @student %>
  </div>
<% end %>

<%= turbo_frame_tag "student_info" do %>
  <div class="min-h-screen pt-8">
    <%= render "students/student_details", student: @student %>
  </div>
<% end %>