<% if logged_in? %>
  <div class="bg-blue-700 flex justify-around items-center shadow-xl">
    <div class="flex justify-center items-center space-x-2">
      <%= menu_for(current_user) %>
    </div>

    <div class="flex justify-center items-center space-x-1">
      <%= link_to profile_admin_path(current_user), data: {turbo_frame: "admin_dashboard"}, class: "px-2 bg-cyan-600 text-gray-50 shadow-xl rounded-xl" do %>
        my profile
      <% end %>
    </div>
  </div>  
<% end %>